@import "tailwindcss";
@import "react-quill/dist/quill.snow.css";

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.no-scrollbar {
  scrollbar-width: none;
}
